<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="apiKey" value ="61546a78a65cf5787573c39a/2b02fc67-e3c4-4292-8438-201e1ecec61d"/>
		<add key ="baseUrl" value ="https://api.alpha.onspring.ist"/>
		<add key ="charactersAppId" value ="357"/>
		<add key ="charactersIdFieldId" value ="10304"/>
		<add key ="charactersNameFieldId" value ="10305"/>
		<add key ="charactersBirthdayFieldId" value ="10306"/>
		<add key ="charactersOccupationFieldId" value ="10317"/>
		<add key ="charactersStatusFieldId" value ="10308"/>
		<add key ="charactersNicknameFieldId" value ="10319"/>
		<add key ="charactersAppearanceFieldId" value ="10329"/>
		<add key ="charactersPotrayedFieldId" value ="10328"/>
		<add key ="characterCategoryFieldId" value ="10339"/>
		<add key ="characterQuotesFieldId" value ="10345"/>
		<add key ="occupationsAppId" value ="359"/>
		<add key ="occupationsNameFieldId" value ="10316"/>
		<add key ="occupationsCharactersFieldId" value ="10318"/>
		<add key ="seasonsAppId" value ="360"/>
		<add key ="seasonsNameFieldId" value ="10327"/>
		<add key ="seasonsCharactersFieldId" value ="10330"/>
		<add key ="categoriesAppId" value ="361"/>
		<add key ="categoriesNameFieldId" value ="10338"/>
		<add key ="categoriesCharactersFieldId" value ="10340"/>
		<add key ="categoriesCharacterQuotesFieldId" value ="10347"/>
		<add key ="quotesAppId" value ="358"/>
		<add key ="quotesIdFieldId" value ="10342"/>
		<add key ="quotesQuoteFieldId" value ="10343"/>
		<add key ="quotesAuthorFieldId" value ="10344"/>
		<add key ="quotesSeriesFieldId" value ="10346"/>
		<add key="serilog:minimum-level" value="Debug" />
		<add key="serilog:using:File" value="Serilog.Sinks.File"/>
		<add key ="serilog:write-to:File.path" value="logs\logs.txt"/>
		<add key ="serilog:write-to:File.rollingInterval" value="Day"/>
		<add key="serilog:write-to:File.formatter" value="Serilog.Formatting.Compact.CompactJsonFormatter, Serilog.Formatting.Compact"/>
		<add key ="serilog:using:Console" value="Serilog.Sinks.Console"/>
		<add key ="serilog:write-to:Console"/>
	</appSettings>
</configuration>