<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="apiKey" value ="NEEDS TO BE SET"/>
		<add key ="baseUrl" value ="https://api.onspring.com"/>
		<add key ="charactersAppId" value ="NEEDS TO BE SET"/>
		<add key ="charactersIdFieldId" value ="NEEDS TO BE SET"/>
		<add key ="charactersNameFieldId" value ="NEEDS TO BE SET"/>
		<add key ="charactersBirthdayFieldId" value ="NEEDS TO BE SET"/>
		<add key ="charactersOccupationFieldId" value ="NEEDS TO BE SET"/>
		<add key ="charactersStatusFieldId" value ="NEEDS TO BE SET"/>
		<add key ="charactersNicknameFieldId" value ="NEEDS TO BE SET"/>
		<add key ="charactersAppearanceFieldId" value ="NEEDS TO BE SET"/>
		<add key ="charactersPotrayedFieldId" value ="NEEDS TO BE SET"/>
		<add key ="characterCategoryFieldId" value ="NEEDS TO BE SET"/>
		<add key ="characterQuotesFieldId" value ="NEEDS TO BE SET"/>
		<add key ="characterImageFieldId" value ="NEEDS TO BE SET"/>
		<add key ="occupationsAppId" value ="NEEDS TO BE SET"/>
		<add key ="occupationsNameFieldId" value ="NEEDS TO BE SET"/>
		<add key ="occupationsCharactersFieldId" value ="NEEDS TO BE SET"/>
		<add key ="seasonsAppId" value ="NEEDS TO BE SET"/>
		<add key ="seasonsNameFieldId" value ="NEEDS TO BE SET"/>
		<add key ="seasonsCharactersFieldId" value ="NEEDS TO BE SET"/>
		<add key ="categoriesAppId" value ="NEEDS TO BE SET"/>
		<add key ="categoriesNameFieldId" value ="NEEDS TO BE SET"/>
		<add key ="categoriesCharactersFieldId" value ="NEEDS TO BE SET"/>
		<add key ="categoriesCharacterQuotesFieldId" value ="NEEDS TO BE SET"/>
		<add key ="quotesAppId" value ="NEEDS TO BE SET"/>
		<add key ="quotesIdFieldId" value ="NEEDS TO BE SET"/>
		<add key ="quotesQuoteFieldId" value ="NEEDS TO BE SET"/>
		<add key ="quotesAuthorFieldId" value ="NEEDS TO BE SET"/>
		<add key ="quotesSeriesFieldId" value ="NEEDS TO BE SET"/>
		<add key="serilog:minimum-level" value="Verbose" />
		<add key="serilog:using:File" value="Serilog.Sinks.File"/>
		<add key="serilog:write-to:File.restrictedToMinimumLevel" value="Debug"/>
		<add key ="serilog:write-to:File.path" value="logs\logs.txt"/>
		<add key ="serilog:write-to:File.rollingInterval" value="Day"/>
		<add key="serilog:write-to:File.formatter" value="Serilog.Formatting.Compact.CompactJsonFormatter, Serilog.Formatting.Compact"/>
		<add key ="serilog:using:Console" value="Serilog.Sinks.Console"/>
		<add key ="serilog:write-to:Console"/>
		<add key ="serilog:write-to:Console.restrictedToMinimumLevel" value="Information"/>
	</appSettings>
</configuration>